* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;

}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.userContainer {
  width: 20%;
  margin: 10px;
}

.topLabel {
  display: flex;
  justify-content: space-evenly;
}

.topLabel a {
  text-decoration: none;
  color: black;
}

.randomUser {
  display: flex;
  flex-direction: column;
  border: solid 1px #E0E0E0;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background: #EEEEEE;
}

.userImage {
  width: 53%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100%; */
  border-radius: 50%;
  border: solid 1px #999999;
}

.userInfo {
  width: 100%;
  margin-top: 50px;
  border-top: solid 1px #E0E0E0;
  border-bottom: solid 1px #E0E0E0;
}

.userInfo span {
  font-weight: bold;
}

.userName {
  padding: 10px;
}

.userEmail {
  padding: 10px;
}

.userPhone {
  padding: 10px;
}

.inviteBtns {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
}

.goingBtn {
  height: 25px;
  width: 40px;
  background: #67AC5B;
  margin-top: 15px;
  border: none;
  color: white;
  font-size: 12px;
}

.notGoingBtn {
  height: 25px;
  width: 40px;
  background: #E25241;
  margin-top: 15px;
  border: none;
  color: white;
  font-size: 12px;
}

.goingHeader {
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.notGoingHeader {
  display: block;
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}